<%# メニューバー %>
<div class="uk-flex uk-flex-center">
    <div class="uk-subnav uk-subnav-divider uk-margin-small-top">
        <div>
            <a href="#profile" uk-scroll>プロフィール</a>
        </div>
        <div>
            <a href="#skill" uk-scroll>スキル</a>
        </div>
        <div>
            <a href="#work" uk-scroll>開発経歴（業務）</a>
        </div>
        <div>
            <a href="#personal" uk-scroll>開発経歴（個人）</a>
        </div>
    </div>
</div>